#tree-diagram {
	background: #444;
}

.tree-vis__text-title {
	box-sizing: border-box;
	padding-left: .4em;
	padding-right: .4em;
	padding-top: .9em;
	border-radius: 50%;
	font-size: 0.8125rem;
	margin-bottom: 0;
	transition: opacity 300ms ease-in-out;
	color: #343434;
	background: #fff;
	width: 4em;
	height: 4em;
	text-align: center;
}

.tree-vis__text-description {
	pointer-events: none;
	width: 10em;
	height: 4em;
	color: #fff;
	font-size: 0.8125rem;
	z-index: 10;
	line-height: 1.1em;
}

.tree-vis__text-body {

}
