@import '../../styles/base';


.level__entity__item {
  cursor: default;
  font-size: .875rem;
  padding-bottom: .525rem;
  padding-top: .5rem;
}

.dark .level__entity__item {
  border-bottom: 1px solid #888;
}

.light .level__entity__item {
  border-bottom: 1px solid #aaa;
}

.level__entity-select {
  max-width: 70%;
  margin-bottom: .25rem;
}

.level__entity-select:hover {
  opacity: .8;
}

.level__entity__checkbox {
  position: relative;
  width: .875rem;
  height: .875rem;
  background: #eee;
  margin-right: .5rem;
  display: block;
  flex-shrink: 0;
}

.level__entity__checkbox.is-selected {
  background: $app-blue;
}

.level__entity__checkbox.is-selected::after {
  content: '\02713';
  font-size: .875rem;
  font-weight: 500;
  position: absolute;
  left: 20%;
  top: -25%;
}

.level__entity__name {
  line-height: 1.2;
  font-size: .75rem;
  display: block;
}

.dark .level__entity__name {
  color: #fff;
}

.light .level__entity__name {
  color: #333;
}


.level__summary {
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: 0;
}

.dark .level__summary {
  color: #ccc;
}

.light .level__summary {
  color: #555;
}

.level__show-hide-button {
  font-size: .75rem;
}

.dark .level__show-hide-button {
  color: #ddd;
}

.light .level__show-hide-button {
  color: #555;
}

.level__show-hide-button:hover {
  opacity: .8;
}

.level__entity__grandchild {
  font-size: .75rem;
  margin-bottom: .5rem;
  line-height: 1.2;
}

.level__entity__grandchild:first-child {
  margin-top: .25rem;
}

.level__entity__grandchild:last-child {
  margin-bottom: 0;
}
