@import '../../styles/base';

.xoces-hierarchical-list-search {
  width: 100%;
  padding: .75em 1em;
}


.xoces-hierarchical-list-search.dark {
  background: #303030;
  color: #f0f0f0;
}

.level__entity-title {
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px solid #aaa;
  margin-bottom: calc(1.5rem - 3px);
}

.level-entities {
  list-style: none;
}

.level__entity-title__type {
  text-transform: capitalize;
  font-weight: 400;
  color: #ccc;
}
