@import '../styles/base.scss';

$page-max-width: 1265px;
$vis-background: #222;

.vis-wrapper {
	position: relative;
	min-height: 900px;			/* this is coupled with visParams.js*/
	margin-bottom: 15em;
}

.responsive-prompt {
	background: rgba(#000, .5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	color: #fff;
	text-align: center;
	padding-top: 6em;
}
