
.xoces-widget * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.xoces-widget .clearfix {
  content: "";
  display: table;
  clear: both;
}

.xoces-widget .no-left-margin {
  margin-left: 0;
}

.xoces-widget .no-bottom-margin {
  margin-bottom: 0;
}

.xoces-widget .no-left-padding {
  padding-left: 0;
}

.xoces-widget .no-right-padding {
  padding-right: 0;
}

.xoces-widget .xoces-button:focus {
  outline: none;
}

/* layout */

.xoces-widget .flex-container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: flexbox;
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	align-items: center;
}

.xoces-widget .flex-container.space-around {
	justify-content: space-around;
}

.xoces-widget .flex-container.space-between {
	justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: justify;
}

.xoces-widget .flex-container.align-center {
	align-items: center;
}

.xoces-widget .flex-container.align-top {
	align-items: flex-start;
}

.xoces-widget .flex-container.justify-center {
	justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.xoces-widget .flex-wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
