<div class="info-panel clearfix">
	<section>
		<h6 class="section-header">
			<span ng-bind="currentModel.children.length"></span>
			<span ng-bind="currentModel.children[0].modelType.name | lowercase"></span>(s) <span class="mute">in</span> <span ng-bind="currentModel.displayName"></span>
		</h6>
	<!--	
		<button class="button show-hide-button " ng-show="!showCurrentChildren" ng-click="showCurrentChildren = true;">Show</button>
		<button class="button show-hide-button " ng-show="showCurrentChildren" ng-click="showCurrentChildren = false">Hide</button>
	-->

		<ol class="model-list" ng-show="showCurrentChildren == true">
			<li class="model-item " ng-repeat="model in currentModel.children">
				<div class="model-item__info flex-container">
					<div>
						<div class="flex-container vertical-center select-model-wrapper" ng-click="toggleModelDrawn(model)">
							<div class="checkbox" ng-class="{'is-checked': model.isDrawn}"></div>
							<p class="model-item__name" ng-bind="model.displayName"></p>
						</div>

						<span class="model-item__children mute" ng-if="getChildren(model) && getChildren(model)[0].modelType.name !== 'OUTCOME'">
							<span ng-bind="getChildren(model).length"></span> <span ng-bind="getChildren(model)[0].modelType.name | lowercase"></span>(s), 
						</span>
						<span class="model-item__children mute" ng-if="model.modelType.name !=='OUTCOME'">
							<span ng-bind="getOutcomesOf(model).length"></span> <span ng-pluralize count="getOutcomesOf(model).length" when="{ 'one': 'outcome', 'other': 'outcomes'}"></span>
						</span>
					</div>
					<button class="button show-hide-button" ng-show="!showDetail" ng-click="showDetail = true;">[More]</button>
					<button class="button show-hide-button" ng-show="showDetail" ng-click="showDetail = false">[Less]</button>
				</div>


				<div class="model-item__detail" ng-show="showDetail">
					<div ng-if="getChildren(model).length > 0 && model.modelType.name !== 'OUTCOME'">
						<ul class="small">
							<li ng-repeat="child in getChildren(model)"> 
								<p class="small" ng-bind="child.displayName"></p>	
							</li>
						</ul>
					</div>

					<div ng-if="model.modelType.name == 'OUTCOME'">
						<div ng-show="model.requisites.length == 0">
							<p class="small mute italic prerequisite-empty">There are no prerequisite outcomes.</p>
						</div>

						<div class="prerequisite-section" ng-show="model.requisites.length > 0">
							<p class="small mute prerequisite-title">Prerequisite outcomes </p>
							<ul class="small prerequisite-list">
								<li class="prerequisite-list__item" ng-repeat="req in model.requisites track by $index"> 
									<p class="small" ng-bind="req.getDisplayNameDetailed()"></p>	
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ol>
	</section>

</div>
