.clearfix {
  content: "";
  display: table;
  clear: both;
}


.breadcrumbs-nav {
  background: #000;
}


.breadcrumbs-nav {
  width: 100%;
  padding: .75em 1em;
}

.breadcrumbs-nav.dark {
  background: #303030;
  color: #e0e0e0;
  border-bottom: 1px solid #888;
}

.breadcrumbs-nav.dark .breadcrumb__text:hover {
  color: #fff;
}

.breadcrumbs-nav.dark .breadcrumb__text.last:hover {
  color: #e0e0e0;
}

.breadcrumb {
  position: relative;
  float: left;
}

.breadcrumb__text {
  // letter-spacing: .25px;
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  cursor: default;
}

.breadcrumbs-nav .breadcrumb__text.last {
  font-weight: 400;
}


.breadcrumbs-nav .breadcrumb__text::after {
  content: '\02282';
  margin-left: 1em;
  margin-right: 1em;
}

.breadcrumbs-nav .breadcrumb__text.last::after {
  content: '';
  margin-left: 1em;
  margin-right: 1em;
}
