@import 'animation.scss';

$base-font-size: 1rem;		
$base-leading: 1.5rem;		

$background-primary: #fff;
$bodytext-color: #3f474e;
$muted: #888;

$red--secondary: #C03C50;
$light-gray: #C2C0BF;

$sand: #EFECCA;
$blue-1: #00408A;
$blue-2: #1989CF;
$blue-3: #5388AE;


html {
	min-height: 100%;
	font-size: 87.5%;	// 14px, base-leading is 21px;
}

body {
	background: #fdfdfd;
	color: #333;
	position: relative;
	min-height: 100%;
	color: $bodytext-color;
	background: $background-primary;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
}

// typography //
p, label, .normal, .p {
	font-size: 1rem;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

.x-small {
	font-size: 0.643rem;
}

.small {
	font-size: 0.8125rem; /* 11.375px */
	line-height: 1.8462em; /* 24px */
	margin-bottom: 1.8462em;  
}

.large {
	font-size: 1.2500rem; /* 20px */
	line-height: 1.2000em; /* 24px */
	margin-top: 1.2000em;  
	margin-bottom: 1.2000em;  
}

h6, .h6 {
	font-size: 1.2500rem; /* 20px */
	line-height: 1.2000em; /* 24px */
	margin-top: 0;  
	margin-bottom: 1.2000em;  
}

h5, .h5 {
	font-size: 1.5625rem; /* 25px */
	line-height: 1.9200em; /* 48px */
	margin-top: 0;
	margin-bottom: 0.9600em;  
}

h4, .h4 {
	font-size: 1.9375rem; /* 31px */
	line-height: 1.5484em; /* 48px */
	margin-bottom: 0.7742em; 
	margin-top: 0.7742em; 
}

h3, .h3 {
	font-size: 2.4375rem; /* 39px */
	line-height: 1.2308em; /* 48px */
	margin-top: 0.6154em;  
	margin-bottom: 0.6154em;  
}

h2, .h2 {
	font-size: 3.0625rem; /* 49px */
	line-height: 1.4694em; /* 72px */
	margin-top: 0.4898em;
	margin-bottom: 0.4898em;
	margin-bottom: 0.9786em;
}

h1 {
	font-size: 3.8125rem; /* 61px */
	line-height: 1.1803em; /* 72px */
	margin-top: 0.3934em;  
	margin-bottom: 0.3934em;  
	margin-bottom: 0.7868em;  
}


ul, ol {
	margin: 0;
	margin-left: 0;
}

// links 
a {
	cursor: pointer;
	color: $blue-1;
	text-decoration: underline;
}

a:hover, a:visited:hover {
	color: $blue-2;
	text-decoration: underline;
}

a:focus {
	outline: none;
}

i, .italic {
	font-style: italic;
}

.muted {
	color: $muted;
}

.emphasis {
	color: $blue-3;
}

b, .bold {
	font-weight: 500;
}

// layout
.no-bottom-margin {
	margin-bottom: 0;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

.flex-container {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
}

.flex-container.vertical-center {
	-webkit-align-items: center;
	align-items: center;
}

.flex-container.horizontal-center {
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-container.space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flex-container.space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.flex-container.row-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

// buttons
.button {
	display: block;
	padding-top: $base-leading / 4 - .014rem;
	padding-bottom: $base-leading / 4 - .014rem;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	padding-left: .9375em;
	padding-right: .9375em;
	margin: 0;
}

.button:focus {
	outline: none;	
}

.x {
	font-weight: 500;
	color: $blue-3;
}
