.arc {
	cursor: pointer;
}

.sub-arc {
	cursor: pointer;
}

.arc-text {
	font-size: 0.8125rem;
	font-weight: 300;
	cursor: pointer;
}

.sub-arc-text {
	pointer-events: none;
	font-weight: 300;
	@extend .small;
}

.chord-text {
	@extend .x-small;
}

