
<div class="breadcrumb-nav-wrapper flex-container">	

	<ul class="breadcrumb-nav flex-container">	
		<li ng-repeat="view in breadcrumbs" class="breadcrumb-nav__item" ng-if="view.modelName" ng-click="clickBreadcrumb({level: view})" ng-class="{'is-last': $last}">
			<p class="breadcrumb-nav__name" ng-bind="view.modelName"></p>
		</li>
	</ul>

	<div class="vis-buttons flex-container" ng-show="showTree()">
		<button class="button vis-button" ng-show="breadcrumbs[breadcrumbs.length-1].visType == 'CHORD'" ng-click="breadcrumbs[breadcrumbs.length-1].visType = 'TREE';">[Tree]</button>
		<button class="button vis-button" ng-show="breadcrumbs[breadcrumbs.length-1].visType == 'TREE'" ng-click="breadcrumbs[breadcrumbs.length-1].visType = 'CHORD'">[Back]</button>
	</div>
</div>
